.historicalTableWrapper {
    margin: 20px 50px 10px 50px;
}

.historicalFormWrapper {
    margin: 20px 50px 10px 50px;
    width: 600px;
    background-color: #F4F6F7;
}

button {
    background-color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    text-align: left;
    border-bottom: 2px solid black;
}

thead button {
    border: 0;
    border-radius: none;
    font-family: inherit;
    font-weight: 700;
    font-size: inherit;
    padding: 0.5em;
    margin-bottom: 1px;
}

thead button.ascending::after {
    content: '👇';
    display: inline-block;
    margin-left: 1em;
}

thead button.descending::after {
    content: '☝️';
    display: inline-block;
    margin-left: 1em;
}
