#sourceCurrencyText {
  margin-right: 9.5em;
}

#sourceCurrencyDate {
    margin-right: 2.27em;
}

#sourceCurrencyAmount {
    margin-right: 0.8em;
}

#historicalFormSubmitButton {
    margin-left: 34.5em;
}
